# Backend
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/.vs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment
**/.env
**/.env.local

# OS
.DS_Store
Thumbs.db
/.vs
/backend/Project.API/appsettings.json
/tests/SchoolLink.Tests
/backend/Project.API/logs
/backend/Project.DAL/Migrations
docs/platform.md
/chat.txt
obj/Project.DAL.EntityFrameworkCore.targets
account-generation-plan-v3.md
grade-promotion-plan-v2.md
tailwind-flowbite-guidelines.md
/tests
pagination-pattern.md
planparentstudentimport.md
addingStudentToClass.md
newplan.md
planningchanges.md
backend/Project.DAL/Context/AppDbContextFactory.cs
backend/Project.DAL/Context/AppDbContextFactory.cs
/backend/Project.API/wwwroot/uploads/chat
planexamstudent.md

backend/Project.DAL/Context/AppDbContextFactory.cs
backend/Project.DAL/Context/AppDbContextFactory.cs
planassignmentstudent.md
autosave.md
backend/Project.API/wwwroot/uploads/profiles/3_0f6571ac-d3da-4e69-bf40-aee1eb733eab.webp
backend/Project.API/wwwroot/uploads/profiles/3_b7e30acb-0a7f-4c88-ad72-282d49b99e70.webp
backend/Project.API/wwwroot/uploads/profiles/3_5ba74ad0-653f-44f6-9d53-b0c05d33cfcc.webp
backend/Project.API/wwwroot/uploads/profiles/3_8ac6637a-1d15-4755-b8a3-fac17a5ab3d6.webp
backend/Project.DAL/Context/AppDbContextFactory.cs
docs/TIMEZONE_FIX_PLAN.md
backend/Project.API/wwwroot/uploads/profiles/3_b1b390aa-434a-40c3-ba85-89642525c569.webp
